
<nb-card size="xlarge" style="max-height: 800px;" [@fadeInOut]>
    <nb-card-header>
        <div class="cameras-card-header">
            <span class="cameras-card-title">User tests</span>
            <span class="cameras-filter">
      </span>
        </div>
    </nb-card-header>
    <nb-card-body [@fadeInOut]>
        <div class="row" *ngIf="allocatedTests" [@fadeInOut]>
            <div *ngFor="let t of allocatedTests; let i = index" class="col-lg-4">
                <nb-card [routerLink]="['/user/test/selected/', t._id]" style="cursor: pointer;max-height: 230px;">
                    <nb-card-header>{{t.test.title | uppercase}}</nb-card-header>
                    <nb-card-body >
                        <span class="text-muted" style="font-size:small">
                            Allocated on: {{t.allocatedDate | date:'fullDate' }}
                            <br/>Attempts: {{t.submittedTests.length}}
                            <br/>Category: {{t.test.category}}
                            <br />Questions: {{t.test.questions.length}}
                            <ng-container *ngIf="t.test.expire">
                                <br/>Expires: {{t.test.expireDate | date:'fullDate' }}
                            </ng-container>
                            <ng-container *ngIf="t.test.attemptsAllowed > 0">
                                <br />Allowed attempts: {{t.test.attemptsAllowed}}
                            </ng-container>
                            <ng-container *ngIf="t.test.attemptsAllowed <= 0">
                                 <br />Allowed attempts: Unlimited
                            </ng-container>
                            <ng-container *ngIf="t.feedback">
                                 <br />Feedback: {{t.feedback}}
                            </ng-container>
                            <ng-container *ngIf="t.finalMark">
                                 <br />Mark: {{t.finalMark}}
                            </ng-container>
                        </span>
                    </nb-card-body>
                </nb-card>
            </div>
        </div>
    </nb-card-body>
    <nb-card-footer>
        <nb-actions size="medium" fullWidth>
            <nb-action>
                <span  style="cursor: pointer"><i class="nb-search"></i>Search</span>
            </nb-action>
            <nb-action>
                <span  style="cursor: pointer"><i class="nb-paper-plane"></i>Add</span>
            </nb-action>
        </nb-actions>
    </nb-card-footer>
</nb-card>