<nb-card style="max-height: 800px;" [@fadeInOut]>
    <nb-card-header>
        Your tests
    </nb-card-header>
    <nb-card-body [@slideInOut]="showTestSettingsState">
        <div *ngFor="let sub of tests | paginate:{id:config.id, itemsPerPage: itemLimit,currentPage: page, totalItems: total}"  class="allocatedTest"><!--"-->
            <div fxLayout="row">
                <h5>{{sub.test.title}} <span class="text-muted" style="font-size:small">{{sub.test._id}}</span></h5>
                <span class="fill-remaining-space"></span>
                <div fxLayout="row" fxFlexAlign="start" style="padding: 3px;" class="text-center">
                    <div>
                        <i matTooltip="Attempt test" matTooltipPosition="above" [routerLink]="['/user/test/selected/', sub._id]" class="fa fa-play cursor-click"></i>
                        <i matTooltip="Remove this test from your personal test library" matTooltipPosition="above" (click)="unallocateTest(sub)" class="fa fa-trash cursor-click"></i>
                    </div>
                </div>
            </div>

            <div class="text-muted" style="font-size: small">
                <div class="row text-center">
                    <div class="col-sm-4">
                        <strong>ID:</strong> {{sub._id}}
                    </div>
                    <div class="col-sm-4">
                        <strong>Allocated:</strong> {{sub.date | date:'shortDate'}}
                    </div>
                    <div class="col-sm-4">
                        <strong>Attempts:</strong> {{sub.submittedTests.length}}/<span [innerText]="sub.test.attemptsAllowed < 1? '&#8734;' : '' + sub.test.attemptsAllowed"></span>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-sm-4">
                        <strong>Mark:</strong> <span [innerText]="sub.finalMark? (sub.finalMark+'/'+sub.marksAvailable ) : 'Seeing mark currently disabled'"></span>
                    </div>
                    <div class="col-sm-4">
                        <strong>Feedback:</strong>
                        <ng-container *ngIf="sub.feedback">{{sub.feedback}}</ng-container>
                        <ng-container *ngIf="!sub.feedback">N/A</ng-container>
                    </div>
                    <div class="col-sm-4">
                        <ng-container *ngIf="sub.test.expire">
                            <strong>Expires:</strong> {{sub.test.expireDate | date:'fullDate' }}
                        </ng-container>
                        <ng-container *ngIf="!sub.test.expire">
                            <strong>Expires:</strong> never
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="dotted-hr"></div>
        </div>
        <div *ngIf="tests?.length < 1" >
            <div class="alert alert-info" role="alert">
                <strong>Heads up!</strong> looks like you currently dont have any tests assigned or chosen, <a [routerLink]="['/user/browse']" class="alert-link">our public test library</a> can provide some!
            </div>
        </div>
    </nb-card-body>
    <nb-card-footer>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Search titles</label>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Title starts with..." [(ngModel)]="filter" (keyup.enter)="getPage(p)" (keyup)="keyUp.next($event)">
                        <span class="input-group-btn">
                            <button class="btn btn-danger" (click)="getPage(p)">
                              Search
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label>Results per page</label>
                    <input type="number" class="form-control" placeholder="Results per page..." [(ngModel)]="itemLimit" (keyup.enter)="getPage(p)" (keyup)="keyUp.next($event)">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label>Sort by</label>
                    <div class="form-group">
                        <div class="input-group">
                            <select class="form-control" [(ngModel)]="sort" (change)="onChange($event.target.value)">
                                <option value="">Default (Date descending)</option>
                                <option value="title">Title Ascending</option>
                                <option value="-title">Title Descending</option>
                                <option value="category">Category Ascending</option>
                                <option value="-category">Category Descending</option>
                                <option value="date">Date Ascending</option>
                            </select>
                        </div>
                    </div>

                </div>
            </div>
        </div>



        <pagination-controls class="my-pagination text-center" [id]="config.id"
                             [maxSize]="3"
                             [directionLinks]="directionLinks"
                             [autoHide]="autoHide"
                             [previousLabel]="labels.previousLabel"
                             [nextLabel]="labels.nextLabel"
                             [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
                             [screenReaderPageLabel]="labels.screenReaderPageLabel"
                             [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel"
                             (pageChange)="getPage($event)"></pagination-controls>
    </nb-card-footer>
</nb-card>