<nb-card style="max-height: 800px;" [@fadeInOut]>
    <nb-card-header>
        Test browser
    </nb-card-header>
    <nb-card-body [@slideInOut]="animationState">
        <div *ngFor="let test of tests | paginate:{id:config.id, itemsPerPage: itemLimit,currentPage: page, totalItems: total}" class="allocatedTest cursor-click"><!--[routerLink]="['/user/test/selected/', sub._id]"-->
            <h5>{{test.title}} <span class="text-muted" style="font-size:small">{{test._id}}</span></h5>
            <div class="text-muted" style="font-size: small">
                <div class="row text-center">
                    <div class="col-sm-4">
                        <strong>Authors:</strong> <span *ngFor="let author of test.authors; let i = index">{{author.name + (i == (test.authors.length -1)? '' : ',')}} </span>
                    </div>
                    <div class="col-sm-4">
                        <Strong>Date created:</Strong> {{test.date | date:'fullDate' }}
                    </div>
                    <div class="col-sm-4">
                        <Strong>Questions:</Strong> {{test.questions.length}}
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-sm-4">
                        <Strong>Attempts allowed:</Strong> <span [innerText]="test.attemptsAllowed < 1? '&#8734;' : '' + test.attemptsAllowed"></span>
                    </div>
                    <div class="col-sm-4">
                        <Strong>Users:</Strong> {{test.userTestList.length}}
                    </div>
                    <div class="col-sm-4">
                        <ng-container *ngIf="test.expire">
                            <strong>Expires:</strong> {{test.expireDate | date:'fullDate' }}
                        </ng-container>
                        <ng-container *ngIf="!test.expire">
                            <strong>Expires:</strong> never
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="dotted-hr"></div>
        </div>
    </nb-card-body>
    <nb-card-footer>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Search titles</label>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Title starts with..." [(ngModel)]="filter" (keyup.enter)="getPage(p)" (keyup)="keyUp.next($event)">
                        <span class="input-group-btn">
                            <button class="btn btn-danger" (click)="getPage(p)">
                              Search
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label>Results per page</label>
                    <input type="number" class="form-control" placeholder="Results per page..." [(ngModel)]="itemLimit" (keyup.enter)="getPage(p)" (keyup)="keyUp.next($event)">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label>Sort by</label>
                    <div class="form-group">
                        <div class="input-group">
                            <select class="form-control" [(ngModel)]="sort" [disabled]="!shouldSort" (click)="keyUp.next($event)">
                                <option value="title">Title</option>
                                <option value="category">Category</option>
                                <option value="date">Date</option>
                            </select>
                            <span class="input-group-btn">
                            <button class="btn" [ngClass]="{'btn-warning': shouldSort, 'btn-info': !shouldSort}" (click)="sortCheck()">{{shouldSort? '-' :  '+'}}</button>
                        </span>
                        </div>

                    </div>

                </div>
            </div>
        </div>



        <pagination-controls class="my-pagination text-center" [id]="config.id"
                             [maxSize]="3"
                             [directionLinks]="directionLinks"
                             [autoHide]="autoHide"
                             [previousLabel]="labels.previousLabel"
                             [nextLabel]="labels.nextLabel"
                             [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
                             [screenReaderPageLabel]="labels.screenReaderPageLabel"
                             [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel"
                             (pageChange)="getPage($event)"></pagination-controls>
    </nb-card-footer>
</nb-card>

