@import "../../../theme";
.page-options {
  overflow: hidden;
  position: fixed;
  top: 64px;
  padding:10px;
  margin-bottom: 100px;
  width: 100%;
  z-index: 3;
}


.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.test-start {
  margin: 2px;
}
.mat-expansion-test {
   width: 400px;
   display: block;
}
.hoz-center{
  margin:0 auto;
  display:block;
}
textarea {
  width: 100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
.search-results {
  height: 15rem;
  overflow-y: scroll;
}
.parentDiv {
  position:relative;
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}