<div *ngIf="test">
  <h2>{{ test.title | uppercase }} Test <span class="text-muted" style="font-size: small">[{{test._id}} - {{test.author}}]</span></h2>
  <hr>
  <div class="parentDiv">
    <div >
      <mat-checkbox style="margin: 10px;" [(ngModel)]="giveHint">Give hint</mat-checkbox>
      <mat-checkbox style="margin: 10px;" [(ngModel)]="timeLimit">Time limit</mat-checkbox>
      <mat-form-field *ngIf="timeLimit"><input matInput placeholder="Time limit (In seconds)" value="30" [(ngModel)]="timerMax"><br /></mat-form-field>
      <mat-checkbox style="margin: 10px;" [(ngModel)]="instantResult">Instant result</mat-checkbox>
      <!--<mat-checkbox style="margin: 10px;" [(ngModel)]="randomOrder">Random order</mat-checkbox>-->
    </div>
    <div class="search-results mat-elevation-z5" style="background-color: white;" infiniteScroll infiniteScrollDistance="2" infiniteScrollThrottle="50">
      <mat-list dense *ngFor="let q of test.questions">
        <mat-list-item>
          <mat-icon mat-list-icon>question_answer</mat-icon>
          <span mat-line>{{ q.question }}</span>
          <span mat-line class="text-muted"> {{q.category}} </span>
        </mat-list-item>
      </mat-list>
      <button style="position:absolute; left:-3px; bottom:-25px;" mat-raised-button (click)="testStarted()">
        <mat-icon>format_list_bulleted</mat-icon>Start test
      </button>
    </div>
  </div>
  <hr style="margin-top: 40px;margin-bottom: 15px;">
  <div *ngIf="databaseResult" class="parentDiv"><!-- Results for this test -->
    <div class="search-results mat-elevation-z5" style="background-color: white;" infiniteScroll infiniteScrollDistance="2" infiniteScrollThrottle="50">
      <mat-list dense>
        <h3 mat-subheader>Results</h3>
        <mat-list-item *ngFor="let item of databaseResult.slice().reverse() let i = index;">
          <i class="fa fa-graduation-cap fa-lg" [ngStyle]="setMyStyles(item.percent)"></i>
          <h4 mat-line>Percent: {{item.percent}}%</h4>
          <p mat-line>Mark {{item.mark}}</p>
          <p mat-line class="text-muted" style="font-size:small">{{item.date | date:'full'}}</p>

        </mat-list-item>
      </mat-list>
    </div>
  </div>
</div>
