<div *ngIf="!started && test && !finished">
  <h2>{{ test.title | uppercase }} Test <span class="text-muted" style="font-size: small">[{{test._id}} - {{test.author}}]</span></h2>
  <hr>
  <div class="parentDiv">
    <div >
      <mat-checkbox style="margin: 10px;" [(ngModel)]="giveHint">Give hint</mat-checkbox>
      <mat-checkbox style="margin: 10px;" [(ngModel)]="timeLimit">Time limit</mat-checkbox>
      <mat-form-field *ngIf="timeLimit"><input matInput placeholder="Time limit (In seconds)" value="30" [(ngModel)]="timerMax"><br /></mat-form-field>
      <mat-checkbox style="margin: 10px;" [(ngModel)]="instantResult">Instant result</mat-checkbox>
      <!--<mat-checkbox style="margin: 10px;" [(ngModel)]="randomOrder">Random order</mat-checkbox>-->
    </div>
    <div class="search-results mat-elevation-z5" style="background-color: white;" infiniteScroll infiniteScrollDistance="2" infiniteScrollThrottle="50">
      <mat-list dense *ngFor="let q of test.questions">
        <mat-list-item>
          <mat-icon mat-list-icon>question_answer</mat-icon>
          <span mat-line>{{ q.question }}</span>
          <span mat-line class="text-muted"> {{q.category}} </span>
        </mat-list-item>
      </mat-list>
      <button style="position:absolute; left:-3px; bottom:-25px;" mat-raised-button (click)="testStarted()">
        <mat-icon>format_list_bulleted</mat-icon>Start test
      </button>

    </div>
  </div>
</div>


<div *ngIf="started && !finished">
  <mat-card *ngIf="selectedQuestion">
    <mat-card-subtitle>{{selectedQuestion.category}}</mat-card-subtitle>
    <mat-card-title>{{selectedQuestion.question}}</mat-card-title>
    <mat-card-content>
      <mat-form-field style="width: 100%;">
        <textarea matInput placeholder="Answer" rows="15" [(ngModel)]="answer"></textarea>
      </mat-form-field>
      <mat-expansion-panel *ngIf="giveHint">
        <mat-expansion-panel-header>
          Hint
        </mat-expansion-panel-header>
        {{selectedQuestion.hint}}
      </mat-expansion-panel>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions>

    </mat-card-actions>
    <mat-card-footer>
      <button mat-button (click)="submitQuestion()">Submit</button>
      <mat-progress-bar *ngIf="timeLimit" mode="determinate" [value]="progress"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
  <div>
    <h4 class="text-center text-muted lead" *ngIf="selectedQuestion">{{selectedId + 1}} of {{test.questions.length}}</h4>
  </div>
</div>


<!-- Finished test -->
<div *ngIf="!started && finished">
  <h2>{{ test.title | uppercase }} Results</h2>
  <div class="parentDiv">
    <div class="search-results mat-elevation-z5" style="background-color: white;" infiniteScroll infiniteScrollDistance="2" infiniteScrollThrottle="50">
      <mat-list dense *ngFor="let q of result">
        <mat-list-item>
          <mat-icon mat-list-icon>sort</mat-icon>
          <span mat-line>{{ q.markPercent }}</span>
          <span mat-line class="text-muted"> {{q.givenAnswer}} </span>
        </mat-list-item>
      </mat-list>
    </div>
    <div class="mat-elevation-z2" style="position:absolute; left: -3px; bottom:-10px; background-color: white;">
      <div style="margin:10px;">
        <span><span class="text-muted">Marks: </span> {{givenKeywords}} / {{totalKeywords}} <span class="text-muted">Result: </span> {{percentResult}}%</span>
      </div>

    </div>
  </div>
</div>

