<mat-grid-list [cols]="cols | async" rowHeight="155px" style="margin-bottom: 80px;" gutterSize="10px">
  <mat-grid-tile *ngFor="let t of tests" class="mat-elevation-z5">
    <div style="width:100%;" >
        <img src="../../../assets/questionmark.svg" style=" opacity: 0.2;filter: alpha(opacity=20); /* For IE8 and earlier */transform: rotate(45deg);">
        <div [routerLink]="['/test', t._id]" style="cursor: pointer; position: absolute; top:10px; left:10px;">
            <h3>{{t.title}}</h3>
            <span style="font-size: small;">Author: {{t.author}}</span>
        </div>
        <div style="position: absolute;right:0;bottom:0;">
            <button mat-button [routerLink]="['/edit-test', t._id]">Edit</button>
            <button mat-button (click)="removeTest(t)">Remove</button>
        </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>

<button class="settingsButton" color="accent" mat-fab="" style="z-index: 9;" [matMenuTriggerFor]="testOptions" >
  <mat-icon class="mat-24 mat-icon material-icons" role="img" aria-hidden="true" >settings</mat-icon>
</button>

<mat-menu #testOptions="matMenu" yPosition="above">
  <button mat-menu-item (click)="addTest()"><mat-icon aria-hidden="true">add_circle</mat-icon>Add test</button>
</mat-menu>