
<nb-card size="xlarge" style="max-height: 800px;">
    <nb-card-header>
        <div class="cameras-card-header">
            <span class="cameras-card-title">Test Manager</span>
            <span class="cameras-filter">
      </span>
        </div>
    </nb-card-header>
    <nb-card-body [@fadeInOut]>
        <div class="row" *ngIf="tests" >
            <div *ngFor="let t of tests; let i = index" class="col-lg-4">
                <nb-card><!--[routerLink]="['/tests/selected', t._id]" style="cursor: pointer;"-->
                    <nb-card-header>{{t.title}}</nb-card-header>
                    <nb-card-body>Questions: {{t.questions.length}}</nb-card-body>
                    <nb-card-footer>
                        <div class="btn-group btn-group-full-width" role="group">
                            <button type="button" class="btn btn-hero-info" [routerLink]="['/tests/selected', t._id]">Run test</button>
                            <button type="button" class="btn btn-hero-danger btn-group-icon btn-group-divider btn-fixed" (click)="removeTest(t)">
                                <i class="nb-trash"></i>
                            </button>
                        </div>
                        <!--<div class="dropdown btn-group" ngbDropdown>
                            <button type="button" class="btn btn-primary btn-tn" [routerLink]="['/tests/selected', t._id]">Run test</button>
                            <button type="button" class="btn btn-primary" ngbDropdownToggle></button>
                            <ul class="dropdown-menu" ngbDropdownMenu>
                                <li class="dropdown-item" [routerLink]="['/tests/edit', t._id]">Edit</li>
                                <li class="dropdown-item" (click)="removeTest(t)">Remove</li>
                            </ul>
                        </div>-->
                        <!--<button class="btn btn-hero-info btn-tn" [routerLink]="['/tests/edit', t._id]">Edit</button>
                        <button class="btn btn-hero-danger btn-tn" (>Remove</button>-->
                    </nb-card-footer>
                </nb-card>
            </div>
        </div>
    </nb-card-body>
    <nb-card-footer>
        <nb-actions size="medium" fullWidth>
            <nb-action (click)="addTest()">
                <i class="nb-plus"></i><span>Add</span>
            </nb-action>
            <nb-action>
                <i class="nb-search"></i><span>Search</span>
            </nb-action>
        </nb-actions>
    </nb-card-footer>
</nb-card>