<nb-card>
    <nb-card-header>
        <div fxLayout="row">
            <div>{{question.question}}</div>
            <span class="fill-remaining-space"></span>
            <div fxLayout="row" fxFlexAlign="end">
                <h4 class="text-center text-muted lead" style="font-size: small;" *ngIf="question"></h4>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <div class="row" (keyup.enter)="fullPage? null : onNext.emit(true)">
            <div class="form-group col-sm-6">
                <nb-card >
                    <nb-card-header>
                        All choices
                    </nb-card-header>
                    <nb-card-body [dragula]='"choices"' [dragulaOptions]="choicesOptions" id="allChoices" style="touch-action: none">
                        <div *ngFor="let c of question.choicesAll" [innerText]="c" [id]="c" class="alert alert-danger"></div>
                    </nb-card-body>
                </nb-card>
            </div>
            <div class="form-group col-sm-6">
                <nb-card>
                    <nb-card-header>
                        Correct choices
                    </nb-card-header>
                    <nb-card-body [dragula]='"choices"' [dragulaOptions]="choicesOptions" id="correctChoices" style="touch-action: none" >
                    </nb-card-body>
                </nb-card>
            </div>
            <!--<div class="col-sm-12">
              <div class="alert alert-info" role="alert">
                <strong>Heads up!</strong> Not sure how to create a multi-choice question? <a href="#" class="alert-link">our guide</a> should be a good reference!
              </div>
            </div>-->
        </div>
        <div fxLayout="row">
            <button *ngIf="!fullPage && index !== 0" class="btn btn-hero-warning btn-tn" (click)="onBack.emit(true)">Back</button>
            <span class="fill-remaining-space"></span>
            <div fxLayout="row" fxFlexAlign="end">
                <button *ngIf="!fullPage" class="btn btn-hero-success btn-tn" (click)="onNext.emit(true)">Next</button>
            </div>
        </div>
        <ng-container *ngIf="question.hint">
            <div class="alert alert-hint" role="alert" style="margin-top: 5px;">
                <strong>Hint</strong> <span style="font-style: italic">{{question.hint}}</span>
            </div>
        </ng-container>

    </nb-card-body>
    <nb-card-footer>
        <div fxLayout="row">
            <h4  class="text-center text-muted lead" style="font-size: small;" *ngIf="question">Available marks: {{question.possibleMarks}}</h4>
            <span class="fill-remaining-space"></span>
            <div fxLayout="row" fxFlexAlign="end">
                <h4 class="text-center text-muted lead" style="font-size: small;" *ngIf="question">{{index + 1}}</h4>
            </div>
        </div>
    </nb-card-footer>
</nb-card>
