<div class="row">
    <div class="col-md-12">
        <h3 class="display-3 text-center">Hi {{name}}</h3>
        <div *ngIf="news" [@fadeInOut]>
            <nb-card>
                <nb-tabset>
                    <nb-tab tabTitle="News">
                        <nb-card-body style="max-height: 600px;">
                            <div dense *ngFor="let n of news" style=" margin: 20px;">
                                <span><h4>{{ n.headline | uppercase}}</h4> </span>
                                <p class="text-muted" style="font-size:small">By {{n.authorName}} on {{n.date | date:'fullDate'}}</p>
                                <p mat-line [innerHtml]="sanitizer.bypassSecurityTrustHtml(n.content)"></p>
                                <hr>
                            </div>
                        </nb-card-body>
                    </nb-tab>
                    <nb-tab tabTitle="Staff panel" *ngIf="staff">
                        <app-add-news></app-add-news>
                    </nb-tab>
                </nb-tabset>
            </nb-card>
        </div>
    </div>
</div>
