<div *ngIf="allocatedTest" [@fadeInOut]>
  <h3 class="display-5 text-center">{{allocatedTest.test.title | uppercase}}</h3>
  <nb-card>
    <nb-tabset fullWidth>

      <nb-tab tabTitle="Start" style="margin:20px; min-height: 80px;">
        <nb-actions size="medium" fullWidth>
          <nb-action>
            <nb-checkbox [disabled]="true" [(ngModel)]="giveHint">Give Hint</nb-checkbox>
          </nb-action>
          <nb-action>
            <nb-checkbox [disabled]="true" [(ngModel)]="instantResult">Instant Result</nb-checkbox>
          </nb-action>
        </nb-actions>
        <!--<nb-actions size="medium" fullWidth>
          <nb-action>
            <nb-checkbox [(ngModel)]="timeLimit">Timer</nb-checkbox>
          </nb-action>
          <nb-action *ngIf="timeLimit">
            <div class="input-group">
              <input type="text" [(ngModel)]="timerMax"  class="form-control" placeholder="Timer">
            </div>
          </nb-action>
        </nb-actions>-->
        <hr>
        <div class="text-center">
          <button  class="btn btn-hero-success main-btn" (click)="testStarted()">
            <i class="fa fa-pencil"></i> <span>Start {{allocatedTest.test.title}}</span>
          </button>
        </div>
      </nb-tab>

      <nb-tab tabTitle="Submitted" style="margin:20px;min-height: 200px;">
        placeholder for submitted tests of this test
        <!--<app-edit-test [search]="query" [@fadeInOut]></app-edit-test>-->
      </nb-tab>

    </nb-tabset>

    <nb-card-footer>
      <nb-actions size="medium" fullWidth>
        <!--<nb-action (click)="testStarted()" class="cursor-click">
          <i class="nb-play-outline"></i><span>Start</span>
        </nb-action>-->
        <nb-action>
          <div class="input-group">
            <input [(ngModel)]="query" type="text" class="form-control" placeholder="{{allocatedTest.test.title | uppercase}} test">
            <span class="input-group-btn"><button class="btn btn-hero-info">Search</button></span>
          </div>
        </nb-action>
      </nb-actions>
    </nb-card-footer>

  </nb-card>
</div>


<!--
<span style="display:inline-block;">
<nb-checkbox [(ngModel)]="giveHint">Give Hint</nb-checkbox>

    <mat-checkbox style="margin: 10px;" color="primary" [(ngModel)]="giveHint">Give hint</mat-checkbox>
    <mat-checkbox style="margin: 100px;" color="primary" [(ngModel)]="timeLimit">Time limit</mat-checkbox>
    <mat-form-field color="primary" *ngIf="timeLimit"><input matInput placeholder="Time limit (In seconds)" value="30" [(ngModel)]="timerMax"><br /></mat-form-field>
    <mat-checkbox style="margin: 100px;" [(ngModel)]="instantResult">Instant result</mat-checkbox>
    </span>
-->