<nb-card>
    <nb-card-header>
        <div fxLayout="row">
            <div>{{test.questions[index].question}}</div>
            <span class="fill-remaining-space"></span>
            <div fxLayout="row" fxFlexAlign="end">
                <h4 class="text-center text-muted lead" style="font-size: small;" *ngIf="test.questions[index]"></h4>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <div class="row" (keyup.enter)="fullPage? null : (index === (test.questions.length -1)? null : (onNext.emit(true)))">
            <div class="form-group col-sm-12">
                <nb-card >
                    <nb-card-header>
                        Correct arrangement order
                    </nb-card-header>
                    <nb-card-body [dragula]='"arrange"' [dragulaOptions]="arrangementOptions" id="arrangeOptions" style="touch-action: none">
                        <div *ngFor="let c of test.questions[index].arrangement" [innerText]="c" [id]="c" class="alert alert-info"></div>
                    </nb-card-body>
                </nb-card>
            </div>
        </div>
        <div fxLayout="row" *ngIf="!fullPage">
            <button  [disabled]="index === 0" class="btn btn-hero-warning btn-tn" (click)="onBack.emit(true)">Back</button>
            <span class="fill-remaining-space"></span>
            <div fxLayout="row" fxFlexAlign="end">
                <button [disabled]="index === (test.questions.length -1)" class="btn btn-hero-success btn-tn" (click)="onNext.emit(true)">Next</button>
            </div>
        </div>
        <ng-container *ngIf="test.questions[index].hint">
            <div class="alert alert-hint" role="alert" style="margin-top: 5px;">
                <strong>Hint</strong> <span style="font-style: italic">{{test.questions[index].hint}}</span>
            </div>
        </ng-container>

    </nb-card-body>
    <nb-card-footer>
        <div *ngIf="mark">
            <div class="row form-group">
                <div class="col-sm-6">
                    <label>Feedback</label>
                    <textarea rows="1" placeholder="Feedback" class="form-control" [(ngModel)]="feedback"></textarea>
                </div>
                <div class="col-sm-6">
                    <label>Result</label>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Result." [(ngModel)]="finalMark" [max]="test.questions[index].possibleMarks">
                        <span class="input-group-btn">
                            <button class="btn btn-danger">
                              / {{test.questions[index].possibleMarks}}
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div fxLayout="row" *ngIf="!mark">
            <h4  class="text-center text-muted lead" style="font-size: small;" *ngIf="test.questions[index]">Available marks: {{test.questions[index].possibleMarks}}</h4>
            <span class="fill-remaining-space"></span>
            <div fxLayout="row" fxFlexAlign="end">
                <h4 class="text-center text-muted lead" style="font-size: small;" *ngIf="test.questions[index]">{{index + 1}}</h4>
            </div>
        </div>
    </nb-card-footer>
</nb-card>
