<div mat-dialog-content>
    <mat-table class="table-margin-bottom" #table [dataSource]="dataSource">
        <ng-container matColumnDef="question">
            <mat-header-cell *matHeaderCellDef>Question</mat-header-cell>
            <mat-cell *matCellDef="let row">
                <mat-form-field floatLabel="never" underlineRef="row.editing">
                    <input matInput [formControl]="row.validator.controls['question']" placeholder="question" [(ngModel)]="row.currentData.question" >
                </mat-form-field>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="answer">
            <mat-header-cell *matHeaderCellDef>Answer</mat-header-cell>
            <mat-cell *matCellDef="let row">
                <mat-form-field floatLabel="never">
                    <input matInput [formControl]="row.validator.controls['answer']" placeholder="answer" [(ngModel)]="row.currentData.answer">
                </mat-form-field>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="category">
            <mat-header-cell *matHeaderCellDef>Category</mat-header-cell>
            <mat-cell *matCellDef="let row">
                <mat-form-field floatLabel="never">
                    <input matInput [formControl]="row.validator.controls['category']" placeholder="category" [(ngModel)]="row.currentData.category">
                </mat-form-field>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectAndEditRow(row)"></mat-row>
    </mat-table>

    <br />

</div>

<div mat-dialog-actions>
    <button *ngIf="isSelected" mat-button (click)="confirmSelectedRow()"><i class="fa fa-check mat-icon"></i> Confirm</button>
    <button *ngIf="isSelected" mat-button (click)="cancelOrDeleteRow()"><i class="fa fa-remove mat-icon"></i> Delete</button>
    <button *ngIf="!isSelected" mat-button (click)="dataSource.createNew()">Add Question</button>
    <button mat-button (click)="submitArray()">Submit</button>
    <button mat-button (click)="onNoClick()" tabindex="-1">Close</button>
</div>

<!--
<ng-container matColumnDef="actionsColumn">
    <mat-header-cell *matHeaderCellDef>
      <button mat-icon-button color="accent" (click)="dataSource.createNew()"><i class="fa fa-plus mat-icon"></i></button>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button *ngIf="!row.editing" mat-icon-button color="primary" focusable="false" (click)="row.startEdit()">
        <i class="fa fa-pencil mat-icon"></i>
      </button>
      <button *ngIf="row.editing" mat-icon-button color="primary" focusable="false" (click)="row.confirmEditCreate()">
        <i class="fa fa-check mat-icon"></i>
      </button>
      <button mat-icon-button color="primary" focusable="false" (click)="row.cancelOrDelete()">
        <i class="fa fa-times mat-icon"></i>
      </button>
    </mat-cell>
  </ng-container>
  -->