<div style="padding:10px;">
  <nb-layout>
    <nb-layout-header fixed>Company Name</nb-layout-header>

    <nb-sidebar>Sidebar Content</nb-sidebar>

    <nb-layout-column>Page Content</nb-layout-column>
  </nb-layout>
<div class="text-center">
  <h2>Sign in to DIGITALSTUDY</h2>
  <button mat-raised-button id="glogin" ><i class="fa fa-google"></i> Google login</button>
  <p class="text-muted">Concerned about google login/security? Check out the <span [routerLink]="['/faq']" style="cursor: pointer;font-weight: bold">FAQ</span></p>
</div>
</div>