<div [@fadeInOut] *ngIf="test && test.questions.length > 0">

    <div *ngFor="let question of test.questions; let i = index">
        <ng-container *ngIf="question.type === 'keywords'">
            <app-keyword-question [mark]="true" [subQuestion]="subTest.submittedQuestions[i]" (broadcastResult)="onBroadcastAnswer($event)" [test]="test" [submit]="submitAll" [fullpage]="true" [index]="i"></app-keyword-question>
        </ng-container>
        <ng-container *ngIf="question.type === 'choices'">
            <app-choice-question [mark]="true" [subQuestion]="subTest.submittedQuestions[i]" (broadcastResult)="onBroadcastAnswer($event)" [test]="test" [submit]="submitAll" [fullpage]="true" [index]="i"></app-choice-question>
        </ng-container>
        <ng-container *ngIf="question.type === 'arrangement'">
            <app-arrangement-question [mark]="true" [subQuestion]="subTest.submittedQuestions[i]" (broadcastResult)="onBroadcastAnswer($event)" [test]="test" [submit]="submitAll" [fullpage]="true" [index]="i"></app-arrangement-question>
        </ng-container>
        <ng-container *ngIf="question.type === 'shortAnswer'">
            <app-shortanswer-question [mark]="true" [subQuestion]="subTest.submittedQuestions[i]" (broadcastResult)="onBroadcastAnswer($event)" [test]="test" [submit]="submitAll" [fullpage]="true" [index]="i"></app-shortanswer-question>
        </ng-container>
    </div>

    <nb-card>
        <nb-card-header>
            Evaluate test
        </nb-card-header>
        <nb-card-body>
            <div class="form-group">
                <label>Overall test feedback</label>
                <textarea rows="3" placeholder="Overall feedback" class="form-control" [(ngModel)]="overallTestFeedback"></textarea>
            </div>
            <div class="text-center">
                <div class="form-group">
                    <button class="btn btn-hero-success" [disabled]="submitted" (click)="submitAll = true">Submit</button>
                </div>
            </div>
        </nb-card-body>
    </nb-card>
</div>