<nb-card>
    <nb-card-header>
        Create new test
    </nb-card-header>

    <nb-card-body>
        <mat-vertical-stepper [linear]="true" > <!-- TODO: change to true once complete -->
            <!-- Settings step-->
            <mat-step [stepControl]="settingsFormGroup" color="accent">
                <form [formGroup]="settingsFormGroup">
                    <ng-template matStepLabel>Setttings</ng-template>

                    <!-- TODO: add expire date picker and timer input, ADD AUTHOR LIST -->
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="inputTitle">Title</label>
                                <input type="text" class="form-control" id="inputTitle" placeholder="Title" formControlName="title" required>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="inputCategory">Category</label>
                                <input type="text" class="form-control" id="inputCategory" placeholder="Category" formControlName="category" required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <nb-checkbox formControlName="allowHint">Allow hints</nb-checkbox>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <nb-checkbox formControlName="fullPage">Full page</nb-checkbox>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <nb-checkbox formControlName="shareable">Shareable</nb-checkbox>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <nb-checkbox formControlName="handMarked">Hand marked</nb-checkbox>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <nb-checkbox formControlName="editable">User editable</nb-checkbox>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <nb-checkbox formControlName="showMarks">Show marks</nb-checkbox>
                            </div>
                        </div>
                    </div>
                    <div class="row text-center">

                        <div class="col-sm-6">
                            <div class="form-group">
                                <nb-checkbox formControlName="expire">Expire</nb-checkbox>
                            </div>
                            <div *ngIf="settingsFormGroup.controls['expire'].value" (click)="picker.open()">
                                    <input [matDatepicker]="picker" class="form-control" placeholder="Expiry date" formControlName="expireDate" (dateChange)="addEvent($event)" type="text" (keypress)="onlyDecimalNumberKey($event)">
                                    <mat-datepicker #picker></mat-datepicker>
                                <br />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <nb-checkbox formControlName="timerEnabled">Timer enabled</nb-checkbox>
                            </div>
                            <div *ngIf="settingsFormGroup.controls['timerEnabled'].value" >
                                <input class="form-control" placeholder="Test length in minutes" formControlName="timerLength">
                                <br />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <nb-card>
                                <nb-card-header>
                                    Authors
                                </nb-card-header>
                                <nb-card-body>
                                    <ul class="mb-5" *ngIf="test.authors">
                                        <li *ngFor="let a of test.authors">
                                            {{a}}
                                        </li>
                                    </ul>
                                </nb-card-body>
                                <nb-card-footer>
                                    <div class="input-group" >
                                        <input class="form-control" type="text" id="inputAuthor" placeholder="Add id" formControlName="authors" />
                                        <span class="input-group-btn"><button class="btn btn-info" (click)="addAuthor()">+</button></span>
                                    </div>
                                </nb-card-footer>
                            </nb-card>
                        </div>
                    </div>

                    <div>
                        <button [disabled]="!settingsFormGroup.valid"  class="btn btn-hero-success main-btn btn-tn" matStepperNext>Next</button>
                        <div style="padding:5px;">
                            <p class="text-danger" style="font-size: small" *ngIf="settingsFormGroup.controls.title.errors">Title required</p>
                            <p class="text-danger" style="font-size: small" *ngIf="settingsFormGroup.controls.category.errors">Category required</p>
                            <p class="text-danger" style="font-size: small" *ngIf="settingsFormGroup.controls['expire'].value && settingsFormGroup.controls.expireDate.value == null">Expire date required</p>
                            <p class="text-danger" style="font-size: small" *ngIf="settingsFormGroup.controls['timerEnabled'].value && settingsFormGroup.controls.timerLength.value == null">Time limit required</p>
                            <p class="text-danger" style="font-size: small" *ngIf="settingsFormGroup.controls.timerLength.errors && settingsFormGroup.controls['timerEnabled'].value">Time limit required to be in minutes</p>
                        </div>
                    </div>
                </form>
            </mat-step>
            <!--end settings step-->

            <!-- Build questions step -->
            <mat-step [stepControl]="addQuestionsFormGroup">
                <form [formGroup]="addQuestionsFormGroup">
                    <ng-template matStepLabel>Questions</ng-template>

                    <!-- Question list -->
                    <nb-card>
                        <nb-card-body style="max-height: 200px;" *ngIf="test.questions.length > 0">
                            <ul class="mb-5">
                                <li *ngFor="let q of test.questions">
                                    <p>{{q.question}} <span class="text-muted">{{q.type}}</span></p>
                                </li>
                            </ul>
                        </nb-card-body>
                    </nb-card>

                    <!-- QUESTION SETTINGS -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="form-group">
                                    <label>Question type</label>
                                    <select class="form-control" formControlName="type">
                                        <option value="keywords">Keywords</option>
                                        <option value="choices">Multiple choice</option>
                                        <option value="arrangement">Arrange order</option>
                                        <option value="shortAnswer">Short answer</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="addQuestionsFormGroup.controls['type'].value" class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="inputQuestion">Question</label>
                                <textarea rows="2" class="form-control" id="inputQuestion" placeholder="Question" formControlName="question"></textarea>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="addQuestionsFormGroup.controls['type'].value" class="row">
                        <div class="col-md-6">
                            <nb-checkbox formControlName="enableTimer" (click)="disableTimer()">Timer</nb-checkbox>
                            <div class="form-group">
                                <input class="form-control" id="inputTimer" placeholder="Time in seconds" formControlName="timer" type="text" (keypress)="onlyDecimalNumberKey($event)">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" *ngIf="settingsFormGroup.controls['allowHint'].value">
                                <label for="inputHint">Hint</label>
                                <input class="form-control" id="inputHint" placeholder="Hint" formControlName="hint">
                            </div>
                        </div>
                    </div>
                    <hr>

                    <!-- keywords question -->
                    <div class="row" *ngIf="addQuestionsFormGroup.controls.type.value == 'keywords'">
                        <div class="col-sm-12">
                            <div class="form-group" >
                                <label>Keywords</label>
                                <input class="form-control" style="width: 100%;" type="text" placeholder="New keyword..."
                                       [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                       [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="addTag($event)" />
                            </div>
                            <mat-chip-list #chipList>
                                <mat-chip *ngFor="let key of keywords" [selectable]="selectable" [removable]="removable" (remove)="removeTag(key)">
                                    {{key}}<mat-icon matChipRemove>cancel</mat-icon>
                                </mat-chip>
                            </mat-chip-list>
                        </div> <!-- adding keywords -->
                        <div class="col-sm-12">
                            <br/>
                            <div class="alert alert-info" role="alert">
                                <strong>Heads up!</strong> Not sure how to create a keyword question? <a href="#" class="alert-link">our guide</a> should be a good reference!
                            </div>
                        </div>
                    </div>
                    <!-- keywords question end -->

                    <!-- new choices question -->
                    <div class="row" *ngIf="addQuestionsFormGroup.controls.type.value == 'choices'">
                        <div class="form-group col-sm-6">
                            <nb-card >
                                <nb-card-header>
                                    All choices
                                </nb-card-header>
                                <nb-card-body [dragula]='"choices"' [dragulaOptions]="choicesOptions" id="allChoices" style="touch-action: none">

                                </nb-card-body>
                                <nb-card-footer>
                                    <div class="input-group" >
                                        <input class="form-control" type="text" id="inputNewChoice" placeholder="New choice.." formControlName="newChoice" />
                                        <span class="input-group-btn"><button class="btn btn-info" (click)="addChoice()">+</button></span>
                                    </div>
                                </nb-card-footer>
                            </nb-card>
                        </div>
                        <div class="form-group col-sm-6">
                            <nb-card>
                                <nb-card-header>
                                    Correct choices
                                </nb-card-header>
                                <nb-card-body [dragula]='"choices"' [dragulaOptions]="choicesOptions" id="correctChoices" style="touch-action: none" >

                                </nb-card-body>
                            </nb-card>
                        </div>
                        <div class="col-sm-12">
                            <div class="alert alert-info" role="alert">
                                <strong>Heads up!</strong> Not sure how to create a multi-choice question? <a href="#" class="alert-link">our guide</a> should be a good reference!
                            </div>
                        </div>
                    </div>
                    <!-- new choices quiestion end -->

                    <!-- arrange question -->
                    <div class="row" *ngIf="addQuestionsFormGroup.controls.type.value == 'arrangement'">
                        <div class="form-group col-sm-12">
                            <nb-card >
                                <nb-card-header>
                                    Correct arrangement order
                                </nb-card-header>
                                <nb-card-body [dragula]='"arrange"' [dragulaOptions]="arrangementOptions" id="arrangeOptions" style="touch-action: none"></nb-card-body>
                                <nb-card-footer>
                                    <div class="input-group" >
                                        <input class="form-control" type="text" id="inputNewArrange" placeholder="New item.." formControlName="newArrange" />
                                        <span class="input-group-btn"><button class="btn btn-info" (click)="addArrange()">+</button></span>
                                    </div>
                                </nb-card-footer>
                            </nb-card>
                        </div>
                        <div class="col-sm-12">
                            <div class="alert alert-info" role="alert">
                                <strong>Heads up!</strong> Not sure how to create an arrangement question? <a href="#" class="alert-link">our guide</a> should be a good reference!
                            </div>
                        </div>
                    </div>
                    <!-- arrange question end -->

                    <!-- short answer question -->
                    <div class="row" *ngIf="addQuestionsFormGroup.controls.type.value == 'shortAnswer'">

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="inputShortAnswer">Answer</label>
                                <textarea rows="2" class="form-control" id="inputShortAnswer" placeholder="Answer" formControlName="shortAnswer"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="alert alert-danger" role="alert" *ngIf="!settingsFormGroup.controls['handMarked'].value">
                                <strong>Warning</strong> It is strongly recommended that short answer should be used with the setting 'hand marked', read our FAQ on it  <a href="#" class="alert-link">here</a>
                            </div>
                            <div class="alert alert-info" role="alert">
                                <strong>Heads up!</strong> Not sure how to create an short answer question? <a href="#" class="alert-link">our guide</a> should be a good reference!
                            </div>
                        </div>
                    </div>

                    <button class="btn btn-hero-info btn-tn" (click)="insertQuestion(addQuestionsFormGroup.controls.type.value)">Add question</button>
                    <hr>
                    <div>
                        <button class="btn btn-hero-info main-btn btn-tn" matStepperPrevious>Back</button>
                        <button [disabled]="test.questions.length < 1" class="btn btn-hero-success main-btn btn-tn" matStepperNext>Next</button>
                        <div style="padding:5px;">
                            <p class="text-danger" style="font-size: small" *ngIf="test.questions.length < 1">Atleast one question required</p>
                        </div>
                    </div>
                </form>
            </mat-step>
            <!-- End build questions step -->

            <!-- Confirm step -->
            <mat-step>
                <ng-template matStepLabel>Confirm</ng-template>
                <div class="row">
                    <div class="col-sm-12">
                        Ensure your settings are correct, and then confirm test
                        <hr>
                        <div>
                            <button  class="btn btn-hero-info main-btn btn-tn" matStepperPrevious>Back</button>
                            <button  class="btn btn-hero-success main-btn btn-tn" [disabled]="test.questions.length < 1 || submitted" (click)="confirmTest()">Confirm and create test</button>
                        </div>
                    </div>
                </div>
            </mat-step>
            <!--end confirm step -->

        </mat-vertical-stepper>
    </nb-card-body>

    <nb-card-footer>

    </nb-card-footer>

</nb-card>