/* You can add global styles to this file, and also import other style files */
//@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "theme";

//Misc
button:focus {outline:0 !important; }

.cursor-click {
  cursor: pointer;
}

.dotted-hr {
  border-top: 1px dotted #8c8b8b;
  margin-top: 5px;
}

* {
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.fill-remaining-space {
  /*This fills the remaining space, by using flexbox.
 Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

//Material 2 theme
// Active icon color in list nav
mat-list {
  [mat-list-item].active {
    background-color: mat-color($accent);
    color: mat-color($accent, default-contrast)
    mat-icon {

    }
    mat-icon[mat-list-icon] {
      color: mat-color($accent);
    }
  }
}