/* You can add global styles to this file, and also import other style files */
//@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "theme";

//Misc
button:focus {outline:0 !important; }

.cursor-click {
  cursor: pointer;
}

.hidden {
  display: none;
}

.dotted-hr {
  border-top: 1px dotted #8c8b8b;
  margin-top: 5px;
}

* {
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.fill-remaining-space {
  flex: 1 1 auto;
}


.my-pagination /deep/ .ngx-pagination {
  height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  font-weight: 500;
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  transition: none;
  cursor: pointer;
  padding: .75rem 1.5rem;
  font-size: 1rem;
  line-height: 1.25;
  border-radius: 25px;
}

.my-pagination /deep/ .ngx-pagination .current {
  border-radius: .375rem;
}
.my-pagination /deep/ .ngx-pagination .ng-star-inserted {
  border-radius: .375rem;
}

//Material 2 theme
// Active icon color in list nav
mat-list {
  [mat-list-item].active {
    background-color: mat-color($accent);
    color: mat-color($accent, default-contrast)
    mat-icon {

    }
    mat-icon[mat-list-icon] {
      color: mat-color($accent);
    }
  }
}