@import '~@angular/material/theming';
@include mat-core();
$primary: mat-palette($mat-light-blue, 800);
$accent:  mat-palette($mat-light-blue, 600, 100, 800);
$warn:    mat-palette($mat-amber, 600);
$theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($theme);


// @nebular theming framework
@import '~@nebular/theme/styles/theming';
// @nebular out of the box themes
@import '~@nebular/theme/styles/themes';

// which themes you what to enable (empty to enable all)
$nb-enabled-themes: (default, cosmic);

$nb-themes: nb-register-theme((
  // app wise variables for each theme
        sidebar-header-gap: 2rem,
        sidebar-header-height: initial,
        layout-content-width: 1400px,

        font-main: Roboto,
        font-secondary: Exo,
), default, default);

$nb-themes: nb-register-theme((
  // app wise variables for each theme
        sidebar-header-gap: 2rem,
        sidebar-header-height: initial,
        layout-content-width: 1400px,

        font-main: Roboto,
        font-secondary: Exo,
), cosmic, cosmic);
