<div [@fadeInOut] *ngIf="selectedQuestion && test">
  <div (keydown)="keyDownFunction($event)">
    <nb-card>
      <nb-card-header>
        {{selectedQuestion.question}}
      </nb-card-header>

      <nb-card-body>
        <div class="input-group">
          <textarea rows="10" placeholder="Answer" class="form-control" [(ngModel)]="answer"></textarea>
        </div>
        <div *ngIf="giveHint">
          <div class="alert alert-hint" role="alert">
            <strong>Hint</strong> <span style="font-style: italic">{{selectedQuestion.hint}}</span>
          </div>

        </div>
      </nb-card-body>

      <nb-card-footer >
        <div fxLayout="row">
          <button class="btn btn-hero-success" (click)="submitQuestion()">Submit</button>


          <span class="fill-remaining-space"></span>
          <div fxLayout="row" fxFlexAlign="end">
            <h4 class="text-center text-muted lead" *ngIf="selectedQuestion">{{selectedId + 1}} of {{test.questions.length}}</h4>
          </div>
        </div>
        <div style="margin-top:20px;"></div>
        <mat-progress-bar  mode="determinate" [value]="progress" color="accent"></mat-progress-bar>

      </nb-card-footer>
    </nb-card>
    <div>

    </div>
  </div>
</div>