<div [@fadeInOut] *ngIf="allocatedTest && allocatedTest.test.fullPage">

    <div *ngFor="let question of allocatedTest.test.questions; let i = index">
        <app-question (onBack)="onBack($event)" (onNext)="onNext($event)" [mark]="false" (broadcastResult)="onBroadcastAnswer($event)" [test]="allocatedTest.test" [submit]="submitAll" [fullpage]="false" [index]="i"></app-question>
    </div>

        <!--<ng-container *ngIf="question.enableTimer">
            <mat-progress-bar  mode="determinate" [value]="progress" color="accent"></mat-progress-bar>
        </ng-container>-->

    <div class="text-center">
        <button class="btn btn-hero-success" [disabled]="submitted" (click)="submitAll = true">Submit</button>
    </div>
</div>

<div [@fadeInOut] *ngIf="allocatedTest && !allocatedTest.test.fullPage">
    <div *ngFor="let question of allocatedTest.test.questions; let i = index">
        <app-question (onBack)="onBack($event)" (onNext)="onNext($event)" [mark]="false" [hidden]="i !== selectedId" (broadcastResult)="onBroadcastAnswer($event)" [test]="allocatedTest.test" [submit]="submitAll" [fullpage]="false" [index]="i"></app-question>
    </div>

    <nb-card>
        <nb-card-body style="margin-bottom: -5px;">
            <div fxLayout.gt-sm="row" fxLayout.lt-md="column">
                <div class="text-center6" style="margin-top:5px;"><!-- fxShow.gt-sm="false" -->
                    <span *ngFor="let question of allocatedTest.test.questions; let i = index" (click)="selectedId = i" class="btn btn-tn" [ngClass]="{'btn-success':selectedId === i, 'btn-dark': selectedId !== i}" style="margin: 2px;">{{(i+1) + (i == (allocatedTest.test.questions.length -1)? '' : ' ')}} </span>
                </div>
                <span class="fill-remaining-space"></span>
                <div fxLayout="row" fxFlexAlign="start" style="padding: 3px;" class="text-center">
                    <button class="btn btn-hero-success" [disabled]="submitted" (click)="submitAll = true">Submit</button>
                </div>
            </div>
        </nb-card-body>
    </nb-card>

</div>