<div [@fadeInOut] *ngIf="selectedQuestion && allocatedTest">
  <div>
    <nb-card>
      <nb-card-header>
        <div fxLayout="row">
          <div>{{selectedQuestion.question}}</div>
          <span class="fill-remaining-space"></span>
          <div fxLayout="row" fxFlexAlign="end">
            <h4 class="text-center text-muted lead" style="font-size: small;" *ngIf="selectedQuestion">{{selectedId + 1}} of {{allocatedTest.test.questions.length}}</h4>
          </div>
        </div>
      </nb-card-header>

      <nb-card-body>
        <ng-container *ngIf="selectedQuestion.type === 'keywords'">
          <app-keyword-question></app-keyword-question>
        </ng-container>

        <ng-container *ngIf="selectedQuestion.type === 'choices'">
          <app-choice-question [choices]="selectedQuestion.choicesAll"></app-choice-question>
        </ng-container>

        <ng-container *ngIf="selectedQuestion.type === 'arrangement'">
          <app-arrangement-question [arrangement]="selectedQuestion.arrangement"></app-arrangement-question>
        </ng-container>

        <ng-container *ngIf="selectedQuestion.type === 'shortAnswer'">
          <app-shortanswer-question></app-shortanswer-question>
        </ng-container>

        <ng-container *ngIf="selectedQuestion.hint">
          <div class="alert alert-hint" role="alert" style="margin-top: 5px;">
            <strong>Hint</strong> <span style="font-style: italic">{{selectedQuestion.hint}}</span>
          </div>
        </ng-container>


        <ng-container *ngIf="selectedQuestion.enableTimer">
          <mat-progress-bar  mode="determinate" [value]="progress" color="accent"></mat-progress-bar>
        </ng-container>
      </nb-card-body>
    </nb-card>
    <div>

    </div>
  </div>
</div>